## Python, IPython, and the basics


* * * * *

**Based on Lecture Materials By: Milad Fatenejad, Katy Huff, Joshua R. Smith, Tommy Guy, Will Trimble, and Many More**

## Introduction

This notebook is on basic programming in python. The correct power dynamic is that people are the masters and the machines are servants. The computer is a hammer; it exists to help us get things done.  We can hammer nails with the handle, with the claw of the hammer; some of us even hammer nails with bricks.  But when you learn what part of the hammer works best with nails, and have some experience swinging it, you spend less time worrying about the hammering and more time worrying about your furniture.

So now would be a good time to roll out [PEP 20, The Zen of Python](http://www.python.org/dev/peps/pep-0020/)

> Beautiful is better than ugly.  

> Explicit is better than implicit.  

> Simple is better than complex.  

> Complex is better than complicated.  

> Flat is better than nested.  

> Sparse is better than dense.  

> Readability counts.  

> Special cases aren't special enough to break the rules.  

> Although practicality beats purity.  

> Errors should never pass silently.  

> Unless explicitly silenced.  

> In the face of ambiguity, refuse the temptation to guess.  

> There should be one-- and preferably only one --obvious way to do it.  

> Although that way may not be obvious at first unless you're Dutch.  

> Now is better than never.   

> Although never is often better than *right* now.  

> If the implementation is hard to explain, it's a bad idea.  

> If the implementation is easy to explain, it may be a good idea.  

> Namespaces are one honking great idea -- let's do more of those!

Here is the reference material.



* [Dive into Python](http://www.diveintopython.net/toc/index.html)

* [Software Carpentry's Python Lectures](http://software-carpentry.org/4_0/python/)

* [IPython: A System for Interactive Scientific Computing](http://dx.doi.org/10.1109/MCSE.2007.53)

* [How to Think Like a Computer Scientist](http://www.greenteapress.com/thinkpython/thinkpython.html)

## Variables



All programming languages have variables, and python is no different. To create a variable, just name it and set it with the equals sign. One important caveat: variable names can only contain letters, numbers, and the underscore character. Let's set a variable.

In [1]:
experiment = "current vs. voltage"

In [2]:
print(experiment)

current vs. voltage

In [3]:
voltage = 2

In [4]:
current = 0.5

In [5]:
print(voltage, current)

2 0.5

## Types and Dynamic Typing



Like most programming languages, things in python are typed. The type refers to the type of data. We've already defined three different types of data in experiment, voltage, and current. The types are string, integer, and float. You can inspect the type of a variable by using the type command.

In [6]:
type(experiment)

str

In [7]:
type(voltage)

int

In [8]:
type(current)

float

Python is a dynamically typed language (unlike, say, C++). If you know what that means, you may be feeling some fear and loathing right now. If you don't know what dynamic typing means, the next stuff may seem esoteric and pedantic. Its actually important, but its importance may not be clear to you until long after this class is over.



Dynamic typing means that you don't have to declare the type of a variable when you define it; python just figures it out based on how you are setting the variable. Lets say you set a variable. Sometime later you can just change the type of data assigned to a variable and python is perfectly happy about that. Since it won't be obvious until (possibly much) later why that's important, I'll let you marinate on that idea for a second. 



Here's an example of dynamic typing. What's the type of data assigned to voltage?

In [9]:
type(voltage)

int

Lets assign a value of 2.7 (which is clearly a float) to voltage. What happens to the type?

In [10]:
voltage = 2.7

In [11]:
type(voltage)

float

You can even now assign a string to the variable voltage and python would be happy to comply.

In [12]:
voltage = "2.7 volts"

In [13]:
type(voltage)

str

I'll let you ruminate on the pros and cons of this construction while I change the value of voltage back to an int:

In [14]:
voltage = 2

## Coersion

It is possible to coerce (a fancy and slightly menacing way to say "convert") certain types of data to other types. For example, its pretty straightforward to coerce numerical data to strings.

In [15]:
voltage_string = str(voltage)

In [16]:
current_string = str(current)

In [17]:
voltage_string

'2'

In [18]:
type(voltage_string)

str

As you might imagine, you can go the other way in certain cases. Lets say you had numerical data in a string.

In [19]:
resistance_string = "4.0"

In [20]:
resistance = float(resistance_string)

In [21]:
resistance

4.0

In [22]:
type(resistance)

float

What would happen if you tried to coerce resistanceString to an int? What about coercing resistance to an int? Consider the following:

In [23]:
resistance_string = "4.0 ohms"

In [25]:
int(resistance_string)
int(resistance)

ValueError: invalid literal for int() with base 10: '4.0 ohms'

Do you think you can coerce that string to a numerical type? Try it and see if you get what you expect.

## On Being Precise with floats and ints

Again, the following may seem esoteric and pedantic, but it is very important. So bear with me.

Let's say you had some voltage data that looks like the following



    0
    0.5
    1
    1.5
    2

Obviously, if you just assigned this data individually to a variable, you'd end up with the following types

    0   -> int
    0.5 -> float
    1   -> int
    1.5 -> float
    2   -> int

But what if you wanted all of that data to be floats on its way in? You could assign the variable and then coerce it to type float:

In [26]:
voltage = float(1)

But that's ugly. If you want what is otherwise an integer to be a float, just add a period at the end

In [27]:
voltage = 1.0

In [28]:
type(voltage)

float

This point becomes important when we start operating on data in the next section.



## Data Operations



What's the point of data if we aren't going to do something with it?  Let's get computing.

In [29]:
a = 1

In [30]:
b = 2

In [31]:
c = a + b

In [32]:
c

3

In [33]:
type(a), type(b), type(c)

(int, int, int)

So we got a value of three for the sum, which also happens to be an integer. Any operation between two integers is another integer. Makes sense.



So what about the case where a is an integer and b is a float?

In [34]:
a = 1

In [35]:
b = 2.0

In [36]:
c = a + b

In [37]:
c

3.0

In [38]:
type(a), type(b), type(c)

(int, float, float)

You can do multiplication on numbers as well.

In [39]:
a = 2

In [40]:
b = 3

In [41]:
c = a * b

In [42]:
c

6

In [43]:
type(a), type(b), type(c)

(int, int, int)

Also division. 
If you are using python2,

In [44]:
a = 1

In [45]:
b = 2

In [46]:
c = a / b

In [47]:
c

0.5

**ZING!**



This is why type is important. Divding two integers returnes an integer: this operation calculates the quotient and floors the result to get the answer (it rounds down to the nearest whole number).

**Note**, for **Python 3.x**, "/" does "true division" for all types.


If everything was a float, the division is what you would expect.

In [48]:
a = 1.0

In [49]:
b = 2.0

In [50]:
c = a / b

In [51]:
c

0.5

In [52]:
type(a), type(b), type(c)

(float, float, float)

There are operations that can be done with strings.

In [53]:
firstname = "Johann"

In [54]:
lastname = "Gambolputty"

When concatenating strings, we must explicitly use the concatenation operator +.  Computers don't understand context.

In [55]:
fullname = firstname + lastname

In [56]:
print(fullname)

JohannGambolputty

In [57]:
fullname = firstname + " " + lastname

In [58]:
print(fullname)

Johann Gambolputty

There are other operations deined on string data. Use the *dir* comnand to find them. One example I'll show is the upper method. Lets take a look at the documentation.

In [59]:
str.upper?

So we can use it to upper-caseify a string.

In [60]:
fullname.upper()

'JOHANN GAMBOLPUTTY'

You have to use the parenthesis at the end because upper is a method of the string class.



For what its worth, you don't need to have a variable to use the upper() method, you could use it on the string itself.

In [61]:
"Johann Gambolputty".upper()

'JOHANN GAMBOLPUTTY'

What do you think should happen when you take upper of an int?  What about a string representation of an int? Try it out below:

In [62]:
a = 123456789
a.upper()

AttributeError: 'int' object has no attribute 'upper'

In [63]:
str(a).upper()

'123456789'

That wraps up this lesson. We tried out the IPython shell and got some experience with ints, floats, and strings. Along the way we talked about some philosophy and how programming is like hammering.

# Exercise 1

1. Assign variables with the values 1, 5, and "ten" with the types int, float, and string respectively.

In [74]:
x = 1
y = 5.
z = "ten"

2. Confirm that the types are int, float, and string

In [75]:
type(x), type(y), type(z)

(int, float, str)

3. Determine which for which pairs of the set of int, float, and string the + operation gives an error.  

> int-int : OK

> int-float : OK

> int-string :

> float-float  :

> float-string :

> string-string : 

Any surprises?

In [81]:
x + x

2

In [82]:
x + y

6.0

In [83]:
x + z

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [84]:
y + y

10.0

In [85]:
y + z

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [86]:
z + z

'tenten'

4. Determine which for which pairs of the set of (int, float, and string) the * operation gives an error.  Any surprises?

In [87]:
x * x

1

In [88]:
x * y

5.0

In [89]:
x * z

'ten'

In [90]:
y * y

25.0

In [91]:
y * z

TypeError: can't multiply sequence by non-int of type 'float'

In [92]:
z * z

TypeError: can't multiply sequence by non-int of type 'str'

5. Assign a string the value of "1, 5, and ten" using three variables.

In [95]:
j = "1, "
k = "5, "
l = "and ten"
j += k + l
print(j)

1, 5, and ten

# Exercise 2

Here you will use **math.log10()** and **math.floor()**, which require the line **import math** for you to access these funcitons.  

1. Determine the return type of log10()

In [98]:
import math

type(math.log10(1))

float

2. What is the value and type of log10(42) ?

In [116]:
var1 = math.log10(42)

In [117]:
print(var1)

1.6232492903979006

In [118]:
type(var1)

float

3. What is the value and type of log10(-0.32) ?

In [119]:
 print(math.log10(-0.32)), type(math.log10(-0.32))

ValueError: math domain error

4. What about 1.0 / 0 ?

In [120]:
1.0/0

ZeroDivisionError: float division by zero

4. What is the return type of floor acting on an int?  Acting on a float?  **floor** is in the math namespace.  It will only work after **import math** and it is invoked as **math.floor()**

In [121]:
type(math.floor(1))

int

In [124]:
type(math.floor(1.0))

int

# Exercise 3

 len() is a builtin function to count the length of things.  For which of the basic datatypes so far does len() return a value?  Does it return the length or the length+1 ? **(only strings have a defined len(), returns length not + 1)**

In [128]:
i = 1
f = 1.0
s = "1"
len(i)

TypeError: object of type 'int' has no len()

In [129]:
len(f)

TypeError: object of type 'float' has no len()

In [130]:
len(s)

1

# Example 1

Python lists are agnostic to the type of the data contained within them.  You can generate arrays with different elements of different types:

In [131]:
pythonlist =[2.43, 1, 0.92, 0, "0.38"]

print(pythonlist)

[2.43, 1, 0.92, 0, '0.38']

In [132]:
print(type(pythonlist[0]), type(pythonlist[1]), type(pythonlist[2]), type(pythonlist[3]))

<class 'float'> <class 'int'> <class 'float'> <class 'int'>

# Exercise 4

numpy is an extremely useful library that has its own data types; you will frequently need to specify the types as float or possibly higher-precision float at the time you create them.  The numpy data types are only sometimes compatible with the native data types.

In [133]:
import numpy as np

numpyarray = np.array(pythonlist)

What is the default data type of numpyarray after the conversion?

In [134]:
 type(numpyarray)

numpy.ndarray

Ack! The results of type() do not betray the representation.  For that we need

In [135]:
print(numpyarray.dtype)

<U32

Which is not a numeric data type.  We can cause it to be stored as numpy floats if we specify float when we convert it to numpy:

In [136]:
numpyfloatarray = np.array(pythonlist, dtype="float")

In [137]:
print(numpyarray.dtype)

<U32

In [138]:
type(numpyarray)

numpy.ndarray

# Exercise 5

5A. Write an expression to determine the number of digits in a non-negative integer.  Hint:  maybe **len()** or **math.log()** might be useful here.

5B. Test your expression on 45, 2, and 2.0.  Does it work for all three?

In [141]:
i = 12345
len(str(i))

5

In [143]:
len(str(45)), len(str(2)), len(str(2.0)), len(str(int(2.0)))

(2, 1, 3, 1)